@import '@/assets/scss/variables';

.section {
	background: transparent no-repeat 100% 0;
	position: relative;

	@media only screen and (max-width: 768px) {
		background-position: 50%;
	}

	.shape-1 {
		position: absolute;
		top: 25%;
		left: 15%;

		img {
			@include rotate-animate(10s);
		}
	}

	.shape-2 {
		position: absolute;
		top: 25%;
		right: 5%;
		opacity: 0.25;

		img {
			@include rotate3d();
		}
	}
}
