.icon {
  transition: .3s;
  &:hover {
    background-color: var(--mantine-color-primary-filled);

    svg {
      fill: #fff;
      transition: .3s;
    }
  }
}

.video {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 80px;
    z-index: 222;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('/assets/images/others/play.svg') no-repeat center / 64px;
    transition: .3s;
  }

  &:hover {
    &::before {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}