@import "./customize.scss";
@import "./variables.scss";

:root {
  --primary-color: #ff5d22;
  --background-primary: #fff;
  --background-secondary: #f1f8fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 1.5;
}
