.section {
	.img-box {
		position: relative;
		overflow: hidden;
		

		.socials {
			position: absolute;
			justify-content: center;
			align-items: center;
			bottom: 0;
			width: 100%;
			transform: translateY(50%);
			z-index: -1;
			transition: 0.5s;
			padding: 20px;
			opacity: 0;
			gap: 12px;

			.social-item {
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					background-color: var(--mantine-color-white);

					svg {
						transition: 0.3s;
						fill: var(--mantine-color-primary-filled);
					}
				}
			}

			&.mobile {
				z-index: 0 !important;
				opacity: 1 !important;
				transform: translateY(0) !important;
			}
		}

		&:hover {
			.socials {
				transform: translateY(0);
				z-index: 0;
				opacity: 1;
			}
		}
	}
}
