.section {
	.card {
		text-align: center;
		transition: 0.3s;

		h4 {
			color: var(--mantine-color-text);
			transition: 0.3s;

			&:hover {
				color: var(--mantine-color-primary-filled);
			}
		}

		.btn-detail {
			display: inline-block;
			color: var(--mantine-color-primary-filled);
			padding: 4px 0;
			position: relative;
			transition: 0.3s;
			overflow: hidden;

			&::before {
				position: absolute;
				transition: 0.5s;
				content: '';
				width: 100%;
				height: 2px;
				bottom: 0;
				left: 0;
				transform: translateX(-100%);
				background-color: var(--mantine-color-primary-filled);
			}

			&:hover {
				color: var(--mantine-color-text) !important;
				&::before {
					transform: translateX(0);
				}
			}
		}

		a {
			text-decoration: none;
		}

		&:hover {
			border-color: var(--mantine-color-primary-filled);
		}
	}
}
