.section {
  .icon-wrap {
    height: 100%;

    .icon {
      color: var(--mantine-color-primary-filled);
      transition: .5s;
    }

    &:hover {
      & .icon {
        background-color: var(--mantine-color-primary-filled);
        color: var(--mantine-color-white);
      }
    }
  }
}