@import "@/styles/variables";

.title {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--mantine-color-primary-filled);
  font-weight: 700;
  font-size: 15px;

  img {
    margin-right: 5px;
    @include rotate-animate();
  }
}